#resume {
	
	border-bottom: 1px solid #e9eff3;
	
	@media only screen and (min-width: 1200px) {
		background-image: url("../img/bg/laptop.png");
		background-position: top 130px right;
		background-repeat: no-repeat;
	}
	
}

.resume-description {	
	text-align: left;
	color: #010101;
}

.resume-description__user-name {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
}

.resume-description__about-user {
	font-size: 14px;
	line-height: 22px;	
	margin-bottom: 10px;
	
	@media only screen and (min-width: 768px) {
		font-size: 16px;
		line-height: 28px;
	}
}
